<footer class="footer navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <p id="copy">&copy;2015 CrowdWise</p>
    </div>
    <ul class="nav navbar-nav navbar-right social">
      <li>
        <a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-facebook-square fa-lg"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter-square fa-lg"></i></a>
      </li>
    </ul>
    <p class="navbar-text navbar-right">Stay Connected!</p>
  </div>
</footer>