.footer {
  background-color: $light-gray;

  #copy {
    font-size: 0.9em;
    margin: 20px 0;
  }

  .navbar-nav {
    // make active menu items bold
    >.active>a {
      &,
      &:hover,
      &:focus {
        border-bottom: none;
        font-weight: 400;
      }
    }
    >li>a {
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      &:hover,
      &:focus {
        border-bottom: none;
      }
    }
  }
}