// Typography
$font-family-sans-serif: Roboto, sans-serif !default;
$font-family-serif: "Roboto Slab", serif !default;
$font-family-monospace: Inconsolata, monospace !default;
$headings-font-family: $font-family-serif !default;

$font-size-base: 14px !default; // default value
$font-size-logo: ceil(($font-size-base * 1.75)) !default; // 21px


// Color
// Trunkjs: http://www.roblukedesign.com/trunk/trunk.html
$red: #fd7f7d;
$yellow: #fedd6d;
$green: #ccdd5d;
$blue: #88c4da;
$purple: #c26c8b;
$dark-gray: #6b7b83;
$light-gray: #e6ecf0;

// Adobe Color: https://color.adobe.com/Vitamin-C-color-theme-492199
// $blue: #004358;
// $teal: #1d8a70;
// $green: #bedb39;
// $yellow: #ffe11a;
// $orange: #fd7400;

// alternative palette: http://paletton.com/#uid=73r2m0krQQugvUFmqSrBBNQKcvh
// $blue: #26a8e0;
// $orange: #ff9621;
// $red: #ff4c21;
// $green: #1ee770;

// general brand colors
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $purple !default;
$brand-warning: $yellow !default;
$brand-danger: $red !default;

// alert colors
$state-success-text: darken($brand-success, 30%);
$state-success-bg: lighten($brand-success, 20%);
$state-info-text: darken($brand-primary, 30%);
$state-info-bg: lighten($brand-primary, 20%);
$state-warning-text: darken($brand-warning, 30%);
$state-warning-bg: lighten($brand-warning, 20%);
$state-danger-text: darken($brand-danger, 30%);
$state-danger-bg: lighten($brand-danger, 20%);

// body background
$body-bg: #fff;

// link colors
// $link-color: $brand-success !default;

// button colors
$btn-color: $dark-gray;
// $btn-primary-color: $btn-color;
$btn-success-color: $btn-color;
// $btn-info-color: $btn-color;
$btn-warning-color: $btn-color;
// $btn-danger-color: $btn-color;
$btn-default-color: $btn-color;


// Navbar overrides
$navbar-height: 60px !default;
$navbar-border-radius: 0 !default;

$navbar-default-bg: $body-bg;
$navbar-default-color: $dark-gray;
$navbar-default-border: darken($navbar-default-bg, 10%) !default;

$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: darken($navbar-default-color, 15%);
$navbar-default-link-active-bg: transparent !default;

$navbar-default-toggle-hover-bg: $navbar-default-border !default;
$navbar-default-toggle-icon-bar-bg: $navbar-default-border !default;
$navbar-default-toggle-border-color: $navbar-default-border !default;

// Dropdown overrides
$dropdown-bg: $navbar-default-bg;
$dropdown-border: $navbar-default-border;
$dropdown-divider-bg: $dropdown-border !default;
$dropdown-link-color: $navbar-default-link-color !default;
$dropdown-link-hover-color: $navbar-default-link-hover-color !default;
$dropdown-link-hover-bg: $navbar-default-link-active-bg !default;
