---
---

// Imports
// Fonts
@import url("http://fonts.googleapis.com/css?family=Inconsolata|Merriweather|Lato|Source+Sans+Pro:300,400,400italic,700");
@import "font-awesome/scss/font-awesome";

// Variables & Bootstrap
@import "variables";
@import "bootstrap";

// Other partials
@import "flatten";
@import "navbar";
@import "footer";

// Layout styles
.main-content {
  margin-bottom: 30px;
  min-height: 600px;
}

// Form styles
form {
  fieldset>legend {
    text-align: center;
  }

  .form-actions {
    text-align: center;
  }
}

// Alert styles
// Use alert color for links and underline to distinguish them
.alert {
  a {
    color: inherit;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

// default to hidden
#alerts .alert {
  display: none;
}

// Homepage Styles
#front-splash {
  background-color: $blue;
  color: white;
  height: 130px;
  // padding-right: 0px;
  // padding-left: 0px;
  // margin-right: 15px;
  // margin-left: 15px;

  h1 {
    font-size:  floor(($font-size-base * 3)); // 42px
    line-height: 1;
    margin-top: 43px;
    margin-bottom: 43px;
  }
}

#front-triangle-down {
  margin-left: 20px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid $blue;
}

.front-bullets {
  // margin-top: 50px;
  font-size: 1.2em;

  .front-bullet {
    background-color: lighten($light-gray, 10%);
    padding: 78px 40px;
    min-height: 278px;

    span.first-word {
      font-family: $headings-font-family;
      font-weight: bold;
    }
  }
}

// for bullet heights (temp)
@media (max-width: $screen-md-max) {
  .front-bullets {
    .front-bullet {
      min-height: 305px;
    }
  }
}

// .front-bullets {
//   margin-top: 50px;
//   font-size: 1.2em;

//   h2 {
//     color: $blue;
//   }

//   ul {
//     list-style: none;
//     line-height: 1.75em;
//     // font-size: 1.1em;
//     padding: 0px;
//     padding-bottom: 15px;

//     li:before {
//       content: "+ ";
//       color: $blue;
//       font-size: 1.5em;
//     }
//   }
// }

.call-to-action {
  margin-top: 50px;

  #call-to-action {
    padding: 18px 28px;
    font-size: 1.5em;
    line-height: normal;
  }
}


// #call-to-action {
//   border-color: $blue;
//   border-width: 2px;
//   color: $blue;

//   &:hover {
//     color: white;
//     background-color: $blue;
//   }
// }


// About Styles
#about-splash {
  background-color: $green;
  color: white;
  height: 130px;
  // padding-right: 0px;
  // padding-left: 0px;
  // margin-right: 15px;
  // margin-left: 15px;

  h1 {
    font-size:  floor(($font-size-base * 3)); // 42px
    line-height: 1;
    margin-top: 43px;
    margin-bottom: 43px;
    margin-left: 30px;
  }
}

#about-triangle-down {
  margin-left: 20px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid $green;
}

#about-us {
  line-height: 1.5;
  margin-left: 20px;

  h2 {
    color: $green;
    font-weight: bold;
  }
}

// Contact Styles
#contact-form {
  margin-top: 25px;
}

// Referral Styles
#referral-form {
  margin-top: 25px;
}
