---
---

// Imports
// Fonts
@import url("http://fonts.googleapis.com/css?family=Inconsolata|Titillium+Web|Merriweather|Lato:300,400,400italic,700");
@import "font-awesome/scss/font-awesome";

// Variables & Bootstrap
@import "variables";
@import "bootstrap";

// Other partials
@import "flatten";
@import "navbar";
@import "footer";

// Layout styles
.main-content {
  margin-bottom: 30px;
  min-height: 600px;
}

// Form styles
form {
  fieldset>legend {
    text-align: center;
  }

  .form-actions {
    text-align: center;
  }
}

// Alert styles
// Use alert color for links and underline to distinguish them
.alert {
  a {
    color: inherit;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

// default to hidden
#alerts .alert {
  display: none;
}

// Homepage Styles
.landing {
  margin-top: 25px;

  .front-bullets {
    h2 {
      color: $blue;
    }

    ul {
      list-style: none;
      line-height: 1.75em;
      // font-size: 1.1em;
      padding: 0px;
      padding-bottom: 15px;

      li:before {
        content: "+ ";
        color: $blue;
        font-size: 1.5em;
      }
    }
  }
}



// #call-to-action {
//   border-color: $blue;
//   border-width: 2px;
//   color: $blue;

//   &:hover {
//     color: white;
//     background-color: $blue;
//   }
// }

// About Us Page
#about-us {
  text-align: justify;
}

// Contact Styles
#contact-form {
  margin-top: 25px;
}

// Referral Styles
#referral-form {
  margin-top: 25px;
}